html {
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background: linear-gradient(10deg, rgb(0, 0, 0) 20%, rgb(32, 32, 32) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    font-family: 'Book Antiqua';
}

#newGameWindow {
    margin: 5% auto 0 auto;
    width: 70%;
    height: 65%;
    background: linear-gradient(0deg, rgb(9, 107, 0) 10%, rgb(34, 204, 0) 100%);
    box-shadow: 5px 5px 5px black;
    border-radius: 20px;
    text-align: center;
}

.container-newgame {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    height: 100%;
}

#about {
    height: 100%;
}

#newGameButton {
    width: 15%;
    height: auto;
    padding: 5px;
    border-radius: 20px;
    background-color: rgb(240, 240, 240);
    margin: 10% 0;

    }
    
#newGameButton:hover {
        transform: scale(1.2);
        
}




#game-container {
    margin: 5% auto 0 auto ;
    width: 70%;
    height: 65%;
    background: linear-gradient(0deg, rgb(9, 107, 0) 10%, rgb(34, 204, 0) 100%);
    box-shadow: 5px 5px 5px black;
    border-radius: 20px;
    display: none;
}

.score-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1rem;
    padding: 0;
    margin-left: 5%;
    margin-right: 5%;
    height: 80%;
    
}

#playerScore, #computerScore {
    text-align: center;
    
}

.playerScore p, .computerScore p {
    margin: 5% auto 1% auto;
    border: double 10px rgb(105, 56, 0);
    width: 50%;
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
}

.container-column {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    width: 100%;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 30%;
}

.button-container img {
    width: 3vw;
    height: 3vw;
}

.button-container button {
    width: 4vw;
    height: 4vw;
    border-radius: 25%;
    background-color: rgb(81, 83, 83)
    ;
}

.button-container button:hover {
    transform: scale(1.2);
    background-color: rgb(240, 240, 240);
}

.roundResult {
    font-size: 1.8rem;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

.round-result-sub-container {
    font-size: 1.5rem;
    font-weight: 500;
    height: 100%;
    width: 100%;
}

h3 {
    padding: 0;
    margin: 10% 0 0 0;
    font-size: 1rem;
    font-weight: 400;
}

#computerChoice, #playerChoice {
    margin-top: 2%;
    height: 60px;
}

#roundResult {
    height: 20px;
    margin: 20% 0;
    
}

#gameResultWindow {
    z-index: 100;
    position: absolute;
    top: 10%;
    left: 30%;
    right: 30%;
    width: 600px;
    height: 250px;
    margin: auto;
    border: solid 4px rgb(105, 56, 0);
    border-radius: 40px;
    background: linear-gradient(0deg, rgba(43, 43, 43, 0.8) 30%, rgba(68, 68, 68, 0.8) 100%);
    color: rgb(240, 240, 240);
    display: none;
    text-align: center;

}

#gameRestartButton {
    width: 60px;
    height: 60px;
    margin: 5px;
    animation: Rotate 5s linear infinite; 
    cursor: pointer;
}

@keyframes Rotate {
    from { transform: rotate(0deg) 
    }
    to { transform: rotate(-360deg) 
    }
}

#gameRestartButtonDiv {
    margin-bottom: 20px;
}

#gameResult {
    font-size: 1.5em;
    font-weight: 400;
    padding-top: 10px;
    margin: 5% auto;
    width: 450px;
    height: 100%;
}

#playerLives, #computerLives {
    width: 100%;
    margin: 10px auto 0 auto;
}

.heart {
    width: 20px;
    display: inline;
    margin: 0 2px;
    
}

.portrait img{
    height: 350px;
}
